{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="About">

       <a>  <h2> About us </h2>
            Welcome to JeffWorld!
       <p>We are dedicated to celebrating the beauty of nature and inspiring a deeper connection with the environment.</p>
            <h2>Mission</h2>
         <p> Our mission is to promote conservation, provide educational resources, and engage the community in preserving our planet.</p>
            <H2>Vission</H2>
            <p>Join us in exploring the wonders of the natural world through articles, photography, and events. Whether you're a nature lover or just starting your journey, there’s a place for you here.</p>
            Thank you for visiting JeffWorld! Together, let’s protect and cherish our planet.</a>
</div>
{% endblock content %}