{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="Service">
     <a> <h2>Services</h2>
<br>Our Services At JefWorld, we offer a variety of services designed to enhance your connection with nature and promote environmental awareness.
            <br> Explore our offerings below:
 <br>1. Educational Workshops join our hands-on workshops that cover topics such as plant identification, wildlife photography, and sustainable gardening. Perfect for all skill levels!

<br> 2. Guided Nature Tours experience the beauty of the outdoors with our expert-led guided tours. Discover local ecosystems, observe wildlife, and learn about conservation efforts in your area.

<br> 3. Community events Get involved in our community initiatives, including clean-up drives, tree planting events, and nature festivals. Together, we can make a positive impact!

<br> 4. Resource Library access a wealth of information through our online resource library, featuring articles, videos, and guides on various aspects of nature and conservation.

 <br>5. Consulting Services we offer consulting for schools, organizations, and businesses looking to implement sustainable practices and enhance their environmental initiatives.</a>
</div>
{% endblock content %}